body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #F0F4F9;
    border-radius: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding: 15px;
    
  }
  
  input,
  textarea,
  option,
  select {
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #F0F4F9;
    
    
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #D3E3FD;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    

  }
  
  button:hover {
    background-color: #b6d1fc;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  input:valid {
    background-color: #dbe4f0;
  }

  .row2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .row{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
  }
